{% extends 'layout.html'%}{%block title %} Login {% endblock %}{%block content%}
<div id="contact" class="contact-us section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.25s">
                <form id="contact" action="/login" method="POST">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-3">
                            <div class="section-heading">
                                <h6>Login User</h6>
                            </div>
                        </div>
                        {%for category, message in get_flashed_messages(with_categories=True)%}
                        <div class="alert alert-danger {{ category }} col-lg-6 offset-lg-3" role="alert">{{ message }}</div>
                        {%endfor%}
                        <div class="col-lg-6 offset-lg-3">
                            <fieldset>
                                <input type="email" name="email" id="email" class="form-control" placeholder="Masukkan Email Anda" autocomplete="on" required />
                            </fieldset>
                        </div>
                        <div class="col-lg-6 offset-lg-3">
                            <fieldset>
                                <input type="password" name="password" id="password" class="form-control" placeholder="Password" autocomplete="on" required />
                            </fieldset>
                        </div>
                        <div class="col-lg-12">
                            <fieldset>
                                <button type="submit" id="form-submit" class="main-button">Login</button>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}