{% extends 'layout.html'%}{%block title %} Portofolio {% endblock %}{%block content%}
<div id="portfolio" class="our-portfolio section">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="section-heading wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
                    <h6>Our Portofolio</h6>
                    <h2>Discover Our Recent <em>Projects</em> And <span>Showcases</span></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid wow fadeIn" data-wow-duration="1s" data-wow-delay="0.7s">
        <div class="row">
            <div class="col-lg-12">
                <div class="loop owl-carousel">
                    <div class="item">
                        <div class="portfolio-item">
                            <div class="thumb">
                                <img src="{{ url_for('static', filename='assets/images/portfolio-01.jpg') }}" alt="" />
                                <div class="hover-content">
                                    <div class="inner-content">
                                        <a href="#">
                                            <h4>Awesome Project 101</h4>
                                        </a>
                                        <span>Marketing</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio-item">
                            <div class="thumb">
                                <img src="{{ url_for('static', filename='assets/images/portfolio-04.jpg') }}" alt="" />
                                <div class="hover-content">
                                    <div class="inner-content">
                                        <a href="#">
                                            <h4>Awesome Project 102</h4>
                                        </a>
                                        <span>Branding</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="portfolio-item">
                            <div class="thumb">
                                <img src="{{ url_for('static', filename='assets/images/portfolio-02.jpg') }}" alt="" />
                                <div class="hover-content">
                                    <div class="inner-content">
                                        <a href="#">
                                            <h4>Awesome Project 103</h4>
                                        </a>
                                        <span>Consulting</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio-item">
                            <div class="thumb">
                                <img src="{{ url_for('static', filename='assets/images/portfolio-05.jpg') }}" alt="" />
                                <div class="hover-content">
                                    <div class="inner-content">
                                        <a href="#">
                                            <h4>Awesome Project 104</h4>
                                        </a>
                                        <span>Artwork</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="portfolio-item">
                            <div class="thumb">
                                <img src="{{ url_for('static', filename='assets/images/portfolio-03.jpg') }}" alt="" />
                                <div class="hover-content">
                                    <div class="inner-content">
                                        <a href="#">
                                            <h4>Awesome Project 105</h4>
                                        </a>
                                        <span>Branding</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio-item">
                            <div class="thumb">
                                <img src="{{ url_for('static', filename='assets/images/portfolio-06.jpg') }}" alt="" />
                                <div class="hover-content">
                                    <div class="inner-content">
                                        <a href="#">
                                            <h4>Awesome Project 106</h4>
                                        </a>
                                        <span>Artwork</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="portfolio-item">
                            <div class="thumb">
                                <img src="{{ url_for('static', filename='assets/images/portfolio-04.jpg') }}" alt="" />
                                <div class="hover-content">
                                    <div class="inner-content">
                                        <a href="#">
                                            <h4>Awesome Project 107</h4>
                                        </a>
                                        <span>Creative</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio-item">
                            <div class="thumb">
                                <img src="{{ url_for('static', filename='assets/images/portfolio-01.jpg') }}" alt="" />
                                <div class="hover-content">
                                    <div class="inner-content">
                                        <a href="#">
                                            <h4>Awesome Project 108</h4>
                                        </a>
                                        <span>Consulting</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock %}